/*    /////  CREATE A TRANSITION RESPONSE ADAPTABLE FOR ALL SCREEN SIZES UNSING @MEDIA QUERY.. */

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}
body {
  background: #222;
  font-size: 100%;
}

h1 {
  font-size: 3em;
  /* width: clamp(200px, 20vw, 400px);*/
  color: #ffffff;
  text-align: center;
  padding-top: 10%;
}

.intro {
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  padding-top: 15%;
  font-style: oblique;
  font-weight: lighter;
}

/* ////// EITHER MINISMISE BACKGROUND IMAGE OR COLOUR MATCH THE IMAGE BACKGROUND AND APP TOGETHER.
Perform an animation like rotate?  */
.earth {
  padding-top: 10%;
  max-width: 400px;
  text-align: center;
}

.cities {
  padding-top: 5%;
  text-align: center;
  font-size: 2em;
  /*font-size: 15vmin;*/
  color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 1rem 0 1rem 2rem;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*   MAKE BOX BIGGER IF POSSIBLE TO FILL THE SPACE. */
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 22px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%,
  27.3488% {
    content: "";
  }
  1.1395%,
  26.2093% {
    content: "S";
  }
  2.2791%,
  25.0698% {
    content: "Si";
  }
  3.4186%,
  23.9302% {
    content: "Sin";
  }
  4.5581%,
  22.7907% {
    content: "Sing";
  }
  5.6977%,
  21.6512% {
    content: "Singa ";
  }
  6.8372%,
  20.5116% {
    content: "Singap";
  }
  7.9767%,
  19.3721% {
    content: "Singapo";
  }
  9.1163%,
  18.2326% {
    content: "Singapor";
  }
  10.2558%,
  17.0930% {
    content: "Singapore .";
  }

  30.7674%,
  51.2791% {
    content: "";
  }
  31.9070%,
  50.1395% {
    content: "L ";
  }
  33.0465%,
  49.0000% {
    content: "Lo";
  }
  34.1860%,
  47.8605% {
    content: "Lon";
  }
  35.3256%,
  46.7209% {
    content: "Lond";
  }
  36.4651%,
  45.5814% {
    content: "Londo";
  }
  37.6047%,
  44.4419% {
    content: "London . ";
  }

  54.6977%,
  75.2093% {
    content: "";
  }
  55.8372%,
  74.0698% {
    content: "N";
  }
  56.9767%,
  72.9302% {
    content: "Ne";
  }
  58.1163%,
  71.7907% {
    content: "New ";
  }
  59.2558%,
  70.6512% {
    content: "New Yo";
  }
  60.3953%,
  69.5116% {
    content: "New Yor";
  }
  61.5349%,
  68.3721% {
    content: "New York .";
  }

  78.6279%,
  96.8605% {
    content: "";
  }
  79.7674%,
  95.7209% {
    content: "A";
  }
  80.9070%,
  94.5814% {
    content: "Ac";
  }
  82.0465%,
  93.4419% {
    content: "Acc";
  }
  83.1860%,
  92.3023% {
    content: "Accr";
  }
  84.3256%,
  91.1628% {
    content: "Accra .";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "developer";
    }
    25% {
      content: "writer";
    }
    50% {
      content: "reader";
    }
    75% {
      content: "human";
    }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

/* For smaller screens */
@media all and (max-width: 710px) {
  h1 {
    font-size: 1.5em;
    padding-top: 15vw;
  }
  .intro {
    font-size: 0.9em;
    padding-top: 10%;
  }

  .cities {
    font-size: 1em;
    padding-top: 10%;
    justify-content: center;
  }

  .earth {
    padding-top: 1%;
    max-width: 150px;
    text-align: center;
    justify-content: center;
  }

  .card {
    width: 50%;
    max-width: 220px;
    background: linear-gradient(135deg, #0072fe, #33d7bc);
    color: #fff;
    /* margin: 100px auto 0;*/
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px 10px;
    padding-left: 8px;
    text-align: center;
    align-items: center;
  }

  .search {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 5px 5px 10px; /*25*/
    height: 35px; /*BAR*/
    border-radius: 20px;
    flex: 1;
    font-size: 0.75em;
  }

  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 35px; /* search button */
    padding: 10px;
    cursor: pointer;
  }

  .search button img {
    width: 15px;
  }

  .humidity,
  .wind {
    font-size: 0.85em;
    margin-top: -16px;
  }

  .weather {
    display: none;
  }
}
/*
/* For very small screens 
@media (max-width: 480px) {
  img {
    width: 200px;
  }  
    
  body {
    font-size: 16px;
  }
*/
